.fotter
  .fotter__icon
    = link_to "" do
      = icon('fas', 'home', class: "fotter__icon__home")
    = link_to "" do
      = icon('fas', 'search')
    = link_to "" do
      = icon('fab', 'product-hunt')
    = link_to "" do
      = icon('fas', 'users')